.App {
  height: 100vh;
  background: #00c4ff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;

  @media only screen and (max-width: 593px) {
    padding: 0;
  }
}

.card-container {
  max-width: 450px;
  background: brown;
  border: 10px solid black;
  border-radius: 15px;

  display: grid;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin-top: auto;
  margin-bottom: auto;
}

.game-over {
  text-align: center;
  font-size: 80px;
  margin-top: auto;
  margin-bottom: auto;
  font-family: "ArcadeClassic";
  opacity: 0;
  animation: game-over 0.3s linear forwards;
}

@keyframes game-over {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
  }
}

.console {
  background: #44fe9b;
  border: solid 10px black;
  display: flex;
  flex-direction: column;
  border-radius: 48px;
  justify-content: center;
  align-items: center;
  color: white;
  padding-left: 50px;
  padding-right: 50px;
  border-bottom-right-radius: 100px;

  @media only screen and (max-width: 593px) {
    height: 100vh;
    border-radius: 0;
  }
}

.console-name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #14bd63;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
  border: solid 4px #14bd63;
  border-radius: 50px;
}

.console-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 20px;
}
.console-button {
  background: #fbff00;;
  &.round {
    height: 45px;
    width: 45px;
    border-radius: 999em;
    border: solid 5px black;

    &:nth-child(3) {
     
      margin-left: auto;
    }
    
  }

  &.oval {
    height: 25px;
    width: 50px;
    border-radius: 999em;
    border: solid 5px black;

  }
}
