.App {
  height: 100vh;
  background: #64e3ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  background: brown;

  -webkit-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 1);
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 1);


  display: grid;
  display: grid;
  grid-template-columns:  1fr;
  grid-template-rows: 1fr;
}
